@import url('https://fonts.cdnfonts.com/css/hero-new');

* {
    margin: 0;
    padding : 0;
}

header{
    background-color:#1F2937;
}

#logo{
    font-family: 'Hero New';
    font-size: 24px;
    color:  #F9FAF8
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;

}

.container-right ul {
    font-family: 'Hero New';
    font-size: 18px;
    color: #E5E7EB;
    list-style-type:none;
    display:flex;
    gap: 16px;
}